# --- Scraping & Ingestion ---
requests
beautifulsoup4
kafka-python
python-dotenv

# --- Data Engineering & DB ---
# pyspark (컨테이너 내부에 이미 설치되어 있으나 로컬 개발용으로 유지)
psycopg2-binary
boto3

# --- AI & Vector DB ---
qdrant-client
sentence-transformers
# langchain
# langchain-google-genai
# fastapi
# uvicorn