# --- Airflow 기본 및 유틸리티 ---
python-dotenv

# --- Scraping & Ingestion ---
kafka-python

# --- Data Engineering & DB ---
psycopg2-binary
boto3

# --- AI & Vector DB ---
qdrant-client
sentence-transformers
torch --extra-index-url https://download.pytorch.org/whl/cpu