# --- 유틸리티 ---
python-dotenv

# --- Server ---
fastapi
uvicorn

# --- Data Engineering & DB ---
asyncpg
sqlalchemy
pydantic

# --- LangChain Core ---
langchain
langchain-core
langchain-community
langchain-openai

# --- Vector DB ---
langchain-qdrant
qdrant-client>=1.9.0

# --- Embeddings ---
langchain-huggingface
sentence-transformers
