--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.10.0+cpu

# --- 유틸리티 ---
python-dotenv

# --- Server ---
fastapi
uvicorn

# --- Data Engineering & DB ---
asyncpg
pydantic

# --- LangChain Core ---
langchain-core
langchain-openai

# --- Vector DB ---
qdrant-client>=1.9.0

# --- Embeddings ---
langchain-huggingface
sentence-transformers
