# --- Airflow 기본 및 유틸리티 ---
pendulum
python-dotenv

# --- Scraping & Ingestion ---
requests
beautifulsoup4
kafka-python

# --- Airflow Providers ---
apache-airflow-providers-docker
apache-airflow-providers-slack

# --- Data Engineering & DB ---
psycopg2-binary
boto3

# --- AI & Vector DB ---
qdrant-client
