# Scraping & Ingestion
requests
beautifulsoup4
kafka-python
python-dotenv

# # Data Engineering & DB
# pyspark
# psycopg2-binary
# boto3

# # AI & Vector DB
# qdrant-client
# sentence-transformers
# langchain
# langchain-google-genai
# fastapi
# uvicorn